@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 300;
  src: url('./fonts/RobotoCondensed-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 600;
  src: url('./fonts/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 900;
  src: url('./fonts/RobotoCondensed-Bold.ttf') format('truetype');
}
