.item {
  position: absolute;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80%;
  top: 10%;
  transition: height .6s ease-in-out, width .25s ease-out;

  &.home {

    .item-content-title {
      color: $white;
      opacity: 1;
      &:after {
        display: none;
      }
    }
    .item-content-headline {
      color: $white;
      opacity: 1;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    // overflow: hidden;

    &-open {
      .item-content-title:after {
        transform: rotate(495deg);
      }

      .item-content-video {
        // height: 50vh;
        width: 75vw;
        margin: 1vh;
      }

      .item-content-description {
        height: 10vh;
        width: 75vw;
        margin: .5vh;
      }
    }

    &-title {
      top: 0;
      width: max-content;
      padding: 8px 20px 0;
      user-select: none;
      font-size: calc(1.5vh + 10px);
      letter-spacing: -.1vh;
      color: $black;
      opacity: .6;
      font-weight: 900;
      text-align: center;
      cursor: pointer;

      &:after {
        content: '';
        position: absolute;
        width: calc(1.5vh + 5px);
        height: calc(1.5vh + 5px);
        border: 0;
        outline: none;
        cursor: pointer;
        background-repeat: no-repeat;
        transition: transform .3s;
        transition-delay: .6s;
        transition-timing-function: cubic-bezier(.25, .1, .25, 1);
      }
    }

    &-headline {
      font-size: calc(1vh + 10px);
      text-align: center;
      font-weight: 300;
    }

    &-tags {
      text-align: center;
      margin: 1.5vh;

      span {
        font-weight: 900;
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.2);
        line-height: 2vh;
        padding: .5vh 2vh;
        color: rgba(0,0,0,.5);
        margin: .5vh;
        border: 0;
        border-radius: 2vh;
      }
    }

    &-video {
      width: 0;
      height: auto;
      transition: margin .6s ease-in-out, width .6s ease-in-out;
    }

    &-description {
      width: 100%;
      height: 0;
      overflow: hidden;
      transition: margin .6s ease-in-out, height .6s ease-in-out, width .6s ease-in-out;
    }
  }
}
