$red: #f00;
$blue: #05c;
$black: #000;
$white: #fff;
$transparent-white: rgba(255, 255, 255, .75);
$transparent-black: rgba(0, 0, 0, 0);
$medium-black: rgba(0, 0, 0, .33);

@import 'fonts';

@mixin full() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 360px;
  margin: 0;
  padding: 0;
  background-color: $black;
}

* {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: -1px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: 0;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: $transparent-black;
}

a {
  text-decoration: none;
}

.wrap {
  @include full;
  bottom: -17px; // should hide scrollbar on PC
}

.scene {
  @include full;
}

.carousel {
  @include full;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  &.locked {
    overflow-x: hidden;
  }

  &-items {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    @import 'item';
  }
}

.header {
  position: absolute;
  top: 0;
  width: 100%;

  h1 {
    opacity: .6;
    font-size: 20px;
    margin: 20px;
    font-style: italic;
    font-weight: 900;
  }
}

.debug {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  font-size: 16px;
  padding: 20px;
  color: $white;
  text-align: right;
  pointer-events: none;
}


.button {
  position: absolute;
  bottom: 0;
  width: 25%;
  top: 0;
  outline: none;

  &-prev {
    left: 0;
  }

  &-next {
    right: 0;
  }
}

.vignette {
  @include full;
  pointer-events: none;
  box-shadow: inset 0 0 40vh 0 $medium-black;
}

.shade {
  @include full;
  opacity: 1;
  visibility: visible;
  background-color: $black;
  transition: 1s visibility, 1s opacity;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: 0s visibility, 0s opacity;
}
